
.background{
     background-image: url("assets/img/lawyer-today11.png");
     background-repeat: no-repeat;
     background-size: 100%;
     height: 30%;
}
.center {
	margin: auto;
	width: 100%;
	/* border: 3px solid green; */
	padding: 4%;
  }
   
.header {
	overflow: hidden;
	width:100%;

	height: 50%;
	}
	.rc-anchor-normal {
		height: 74px;
		width: 80%;
	}
	.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
	}
	.header a.logo {
	font-size: 25px;
	font-weight: bold;
	}
	.wrapper {
	text-align: center;
	}
	.button {
	position: absolute;
	top: 50%;
	}
h2 {
	width: 100%;
	font-size: 62px;
	color: #ffffff;
}

html, body 
{
	position: absolute;
	height: 100%;
	width: 100%;
	background:white;
	color: rgba(0,0,0,0.6);
	font-family: sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.copyright {
	position: fixed;
	width: 100%;
	bottom: 5px;
	text-align: center;
	font-size: 12px;
}

.copyright a {
  text-decoration: none;
  color: rgb(3, 169, 245);
}

.copyright a:hover {
  transition: none;
  border-bottom: 1px solid rgb(3, 169, 245);
}
.Rectangle-5-Copy:hover {
	width: 190px;
    height: 50px;
	border-radius: 8px;
	background-color: #4990e2;
  }

.Rectangle-5-Copy{
	width: 190px;
    height: 50px;
	border-radius: 8px;
	background-color:aliceblue;
	border : solid 1px #4990e2;
  }
  .grayHead{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
     background-color: #ecf0f1;
	}
	.calendar, .calendar:active {
		width: 2.75rem;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
		background-repeat: no-repeat;
		background-size: 23px;
		background-position: center;
	}

	.txtLeft{
		font-family: Roboto;
		font-size: 16px;
		color: #494949;
	}
	
	div span.only-show-on-hover {
		visibility: hidden;
	}
	div	:hover span.only-show-on-hover  {
		visibility: visible;
	}
	
	