<app-font-set ></app-font-set>

<app-user-head  [pgName]="lan.dashboard"></app-user-head>

<br>
<div class="container-fluid p-0">

  <table class="table table-striped border text-center">
    <thead>
      <tr [ngClass]="['tblHead txt-white', ft_md ,bg_color]">
        <th > {{ lan.application_no }}  </th>
        <th>{{ lan.name}}</th>
        <th>{{ lan.date }}</th>

        <th>{{ lan.application_status }}</th>
        <th>{{ lan.primary_status }}</th>
        <th>{{ lan.final_status }}</th>

        <th>{{ lan.details_of_applicants }}</th>
        <th>{{ lan.schedule }}</th>
        <th>{{ lan.receipt }}</th>
      </tr>
    </thead>
    <tbody  [ngClass]="['txt-black body-white', ft_sm]">
      <tr *ngFor="let user of appl_data;  let i = index">
      
        <td>{{user.application_no}}</td>
        <td>{{user.full_name}}</td>
        <td>{{user.application_date | date: 'dd/MM/yyyy' }}</td>
        <td>

          <label *ngIf="user.application_status=='Pending'" class="txt-blue point" (click)="application_status(user.application_status, user.application_no, user)">
            {{user.application_status}} </label>

          <label *ngIf="user.application_status=='Closed'"> {{user.application_status}} </label>
          <label *ngIf="user.application_status=='Submitted'"> {{user.application_status}} </label>
          <label *ngIf="user.application_status=='Correction'" class="danger" placement="top" ngbTooltip="Click to correct the docuements"
            (click)="currection(user.certificate_photo_remark, user.visa_photo_remark, user.callletter_photo_remark, user.affidavit_photo_remark, user.passport_photo_remark, user.application_no)">
            {{user.application_status}} </label>
        </td>

        <td>
          <label *ngIf="user.application_status != 'Pending'">
            {{user.primary_status}} </label>
          <label *ngIf="user.application_status == 'Pending'"> - </label>
        </td>
        <td>
          <label *ngIf="user.application_status != 'Pending'"> {{user.final_status }} </label>
          <label *ngIf="user.application_status == 'Pending'"> - </label>
        </td>

        <td class="txt-blue point" (click)="viewDetails(user.application_no)"
        > {{ lan.view_details}} </td>
      
        <td>
          <label class="txt-blue point" *ngIf="user.primary_status == 'Approved' &&  user.final_status == 'Pending'"
          (click)="calander(user.application_no, content)" placement="top" ngbTooltip="Click to schedule the appointment"
          > {{ lan.schedule }}  </label>
          <label *ngIf="user.primary_status == 'Pending' &&  user.final_status == 'Pending'"> {{ lan.not_available }} </label>
          <label *ngIf="user.application_status == 'Closed' ||
           user.application_status == 'Correction'"> - </label>
        
          <label> </label>
        </td>

        <td *ngIf="user.application_status != 'closed'">
          <label class="txt-blue point" (click)="receipt_page(user.application_no)"  placement="left" ngbTooltip="Click to view the recipt"
          *ngIf="user.primary_status == 'Approved' || user.final_status == 'Approved'"> {{ lan.view_receipt }} </label>
          <label class="txt-gray" *ngIf="user.application_status == 'Pending' ||
           user.primary_status == 'Rejected' ||
            user.final_status == 'Rejected' ||
            user.primary_status == 'Rejected'">-</label>
        </td>
      </tr>

    </tbody>
  </table>


</div>








<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Hi there!</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [ngClass]="['container', diff]">
      <p [ngClass]="['top_head', ft_xl]"> Please ensure that following Steps are completed before Uploading Certificates:
      </p>
    
      <div [ngClass]="['child', ft_sm]">
        <div class="ml-4">
          <p [ngClass]="['parent m-0', ft_md]">1. Attestation by respective Board / University:</p>
          <div class="ml-4">
            <p class="m-0">* Limited to Boards/ Universities only in the State of Maharashtra</p>
            <p class="m-0">Board Certificates </p>
            <p class="m-0">- SSC Board Certificate </p>
            <p class="m-0">- HSC Board Certificate </p>
            <p class="m-0">Attestation should be obtained from Board officials only. Attestations by
              school/college principals, Head of
              Departments are not acceptable. </p>
            <p>University certificates attestation by Controller of Examination, Deputy Registrar/ Assistant
              Registrar of Exam
              Section of concerned university. </p>
          </div>
          <p [ngClass]="['parent m-0', ft_md]">2.Attestation by a Notary:</p>
          <p class="ml-4 mb-0">The Certificates are to be attested by a Notary on Rs. 25 stamp paper. </p>
          <p class="ml-4 mb-0" style="color: green;">After completion of Step 1 and 2 the applicant can Upload Certificate in portal with/ without attestation of Home Department (9th floor, New Administrative Building, Opp. Mantralaya) </p>
          <p class="ml-4" style="color: red;">But Applicant has to ensure that the Certificated is duly attested from Home Department, before Applicant visits Higher & Technical Educational Department for Final Authentication on appointed date and time.
    
            Document without attestation of Home Department will not be authenticated. For any queries or assistance please call 022-22855766 (From 10 am to 5 pm, mon-fri </p>
     
          </div>
        </div>
    
      </div>
      <div class="text-center">
        <hr>
        <button type="button" (click)="c()" [ngClass]="['my-2 mr-3 btn', continue, ft_md]" > Disagree and
          Cancel </button>
        <button type="button" data-dismiss="modal" [ngClass]="['my-2 btn', continue, ft_md]"
        (click)="navigateShedule()" (click)="c()" >Agree and Continue</button>
        <hr>
      </div>
  </div>
</ng-template>





<div class="container">
  <div class="modal fade" id="myModal_schedule">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-between">
            <h6 class="modal-title"></h6>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div>

<div [ngClass]="['container', diff]">
  <p [ngClass]="['top_head', ft_xl]"> Please ensure that following Steps are completed before Uploading Certificates:
  </p>

  <div [ngClass]="['child', ft_sm]">
    <div class="ml-4">
      <p [ngClass]="['parent m-0', ft_md]">1. Attestation by respective Board / University:</p>
      <div class="ml-4">
        <p class="m-0">* Limited to Boards/ Universities only in the State of Maharashtra</p>
        <p class="m-0">Board Certificates </p>
        <p class="m-0">- SSC Board Certificate </p>
        <p class="m-0">- HSC Board Certificate </p>
        <p class="m-0">Attestation should be obtained from Board officials only. Attestations by
          school/college principals, Head of
          Departments are not acceptable. </p>
        <p>University certificates attestation by Controller of Examination, Deputy Registrar/ Assistant
          Registrar of Exam
          Section of concerned university. </p>
      </div>
      <p [ngClass]="['parent m-0', ft_md]">2.Attestation by a Notary:</p>
      <p class="ml-4 mb-0">The Certificates are to be attested by a Notary on Rs. 25 stamp paper. </p>
      <p class="ml-4 mb-0" style="color: green;">After completion of Step 1 and 2 the applicant can Upload Certificate in portal with/ without attestation of Home Department (9th floor, New Administrative Building, Opp. Mantralaya) </p>
      <p class="ml-4" style="color: red;">But Applicant has to ensure that the Certificated is duly attested from Home Department, before Applicant visits Higher & Technical Educational Department for Final Authentication on appointed date and time.

        Document without attestation of Home Department will not be authenticated. For any queries or assistance please call 022-22855766 (From 10 am to 5 pm, mon-fri </p>
 
      </div>
    </div>

  </div>
  <!-- <div class="container-fluid p-0">
    <div class="text-center">
      <hr>
      <button type="button" data-dismiss="modal" [ngClass]="['my-2 mr-3 btn', continue, ft_md]" > Disagree and
        Cancel </button>
      <button type="button" data-dismiss="modal" [ngClass]="['my-2 btn', continue, ft_md]"
      (click)="addApplication()">Agree and Continue</button>
      <hr>
    </div>
  </div> -->
</div>


</div>
</div>
</div>

</div>















<app-user-footer></app-user-footer>