
<br>

<h3 [ngClass]="['profile', ft_xl, diff]" > Change Password </h3>
<hr style="border:.3px solid gray; opacity:.2;">
<div [ngClass]="['container', diff]">

<br>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div  [ngClass]="[ft_md, 'row']" >
      <div class="col-md-3"> </div>
      <div class="col-md-6">

        <br>
        <!-- <div class="row">
          <div class="col-sm-4"> <label > Email Id : </label> </div>
          <div class="col-sm-8">
            
              <input type="text" name="email_id" [ngClass]="['form-control frm-inside-txt', ft_md]"
              #email_id="ngModel" [(ngModel)]="model.email_id" autocomplete="off"
             [class.is-invalid]="f.submitted && email_id.invalid" email required>

            <div *ngIf="f.submitted && email_id.invalid" class="invalid-feedback">
              <div *ngIf="email_id.errors.required"> Please enter the email Id </div>
              <div *ngIf="email_id.invalid"> Please enter valid email Id </div>
            </div>
          </div>
        </div>
        <br> -->

        <div class="row">
            <div class="col-sm-4"> <label >Old Password : </label> </div>
            <div class="col-sm-8">
              
                <input type="password" name="old_password" [ngClass]="['form-control frm-inside-txt', ft_md]"
                #old_password="ngModel" [(ngModel)]="model.old_password" autocomplete="off"
               [class.is-invalid]="f.submitted && old_password.invalid"  required>
  
              <div *ngIf="f.submitted && old_password.invalid" class="invalid-feedback">
                <div *ngIf="old_password.errors.required"> Please enter old password </div>
                <!-- <div *ngIf="old_password.invalid"> Please enter valid email Id </div> -->
              </div>
            </div>
          </div>

          <br>


          <div class="row">
              <div class="col-sm-4"> <label >New Password : </label> </div>
              <div class="col-sm-8">
                
                  <input type="password" name="new_password" [ngClass]="['form-control frm-inside-txt', ft_md]"
                  #new_password="ngModel" [(ngModel)]="model.new_password" autocomplete="off" minlength="8" 
                  pattern='((?=.*\d)(?=.*[&])(?=.*[a-z])(?=.*[A-Z]).{8,30})'  (keyup)="password_chk()"
                 [class.is-invalid]="f.submitted && new_password.invalid"  required>
    
                <div *ngIf="f.submitted && new_password.invalid" class="invalid-feedback">
                  <div *ngIf="new_password.errors.required"> Please enter new password </div>
                  <div *ngIf="new_password.errors.pattern"> {{ lan.use_a_mix_of_letters }}  </div>
                  <div *ngIf="new_password.errors.minlength"> Password should be greater then 8 character </div>
                  <!-- <div *ngIf="old_password.invalid"> Please enter valid email Id </div> -->
                </div>

                <!-- <div *ngIf="this.model.new_password">
                    <span *ngIf="!passwordStrenth" class="ft-sm" style="color:red">* {{ lan.use_a_mix_of_letters }}
                    </span>
                 </div> -->
                
              </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-4"> <label >Confirm Password : </label> </div>
                <div class="col-sm-8">
                  
                    <input type="password" name="confirm_password" [ngClass]="['form-control frm-inside-txt', ft_md]"
                    #confirm_password="ngModel" [(ngModel)]="model.confirm_password" autocomplete="off"
                    (keyup)="confirm_password_()"
                   [class.is-invalid]="f.submitted &&( confirm_password.invalid || !passwordMatch)"  required>
      
                  <div *ngIf="f.submitted && confirm_password.invalid" class="invalid-feedback">
                    <div *ngIf="confirm_password.errors.required"> Please enter confirm password </div>
                    <!-- <div *ngIf="old_password.invalid"> Please enter valid email Id </div> -->
                  </div>
                  <div *ngIf="f.submitted && !passwordMatch" style="color: #f86c6b; font-size: 80%;">
                      <div>Password did't matched</div>
                   </div>
                </div>
              </div>
              <br> <br>
      
      </div>
      </div>
  
      <div class="text-center">
          <button type="button"  [ngClass]="['btn mr-3', continue, ft_md]" (click)="dashboard()">Cancel </button>
          <button type="submit"  [ngClass]="['btn mr-3', continue, ft_md]"> Update </button>
      </div>

  </form>
</div>
