<br>
<img class="gotoTop" (click)="gotoTop()" src="assets/img/up.png" />


<div [ngClass]="['container-fluid', diff]">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p [ngClass]="['top_head', ft_xl]"> Disclaimer</p>

      <div [ngClass]="['child', ft_sm]">
        <p [ngClass]="['parent m-0', ft_md]"> A.Disclaimer before Online application:</p>
        <ul [ngClass]="['child', ft_sm]">
          <li>Furnishing WRONG information or <b> FAKE DOCUMENTS </b> for authentication is a <b> PUNISHABLE OFFENCE.
            </b>
          </li>
          <li>Attestation of Academic Certificates for employment purpose is NOT done in this Department. For employment
            purpose attestation should be obtained from Department of Skill Development and Entrepreneurship (2nd floor,
            Mantralaya, Main Building). </li>

        </ul>

        <p [ngClass]="['parent m-0', ft_md]">B. Guideline for Indian National: </p>
        <ul [ngClass]="['child', ft_sm]">
          <li>Only certificates related to <b> ACADEMICS </b> are attested in this department.</li>
          <li>The following certificates are attested:
            <ul>
              <li>Mark sheet </li>
              <li>Passing certificate</li>
              <li>Degree certificate</li>
              <li>Transcript </li>
              <li>Provisional degree certificate</li>
            </ul>
          </li>

          <li>Certificates not related to academics such as Birth certificate, certificate of Age, Nationality &
            Domicile,
            Leaving certificate, Bonafide certificate, marriage certificate etc. are <b> NOT </b> attested here. </li>
          <li>Academic certificates up to Std. 9th (School level) are <b> NOT </b> attested here.</li>
          <li>Academic certificates of Central Boards like CBSE, ICSE are <b> NOT</b> attested here. Attestation should
            be
            obtained from Central Government.</li>
          <li>Academic certificates obtained from private institutions which are not affiliated by any University or are
            not
            governed by any Act / Rules / Laws of Maharashtra State Government/ Central Government will <b> NOT </b> be
            attested. </li>
          <li>Attestation of Academic Certificates for employment purpose is NOT done in this Department. For employment
            purpose attestation should be obtained from Department of Skill <b> Development and Entrepreneurship (2nd
              floor,
              Mantralaya, Main Building). </b> </li>
        </ul>

        <p [ngClass]="['parent', ft_md]">Steps before online application for attestation</p>
        <div class="ml-4">
          <p [ngClass]="['parent m-0', ft_md]">1. Attestation by respective Board / University:</p>
          <div class="ml-4">
            <p class="m-0">* Limited to Boards/ Universities only in the State of Maharashtra</p>
            <p class="m-0">Board Certificates </p>
            <p class="m-0">- SSC Board Certificate </p>
            <p class="m-0">- HSC Board Certificate </p>
            <p class="m-0">Attestation should be obtained from Board officials only. Attestations by school/college
              principals, Head of
              Departments are not acceptable. </p>
            <p>University certificates attestation by Controller of Examination, Deputy Registrar/ Assistant Registrar
              of
              Exam
              Section of concerned university. </p>
          </div>
          <p [ngClass]="['parent m-0', ft_md]">2. Attestation by a Notary:</p>
          <p class="ml-4">The Certificates are to be attested by a Notary on Rs. 25 stamp paper. </p>

          <p [ngClass]="['parent m-0', ft_md]">3. Attestation by Home Department (Government of Maharashtra):</p>
          <p class="ml-4">The certificates are to be attested in Home Department (9th floor, New Administrative
            Building,
            Opp.
            Mantralaya) </p>


          <p [ngClass]="['parent m-0', ft_md]">Mandatory Support Documents:</p>
          <ul>
            <li>Students original passport</li>
            <li>Photocopy of student’s passport</li>
            <li> <b>Offer letter </b> from the Foreign University where admission is acquired.</li>
            <li>If the candidate is unable to come personally, the person visiting on behalf of the student should bring
              authority letter on Rs.100 stamp paper *.</li>


            <ul style="color: red;">
              <li>In such case photo identity proof of the authorized person (e.g. Passport, Aadhar card, PAN card)
                should
                also be submitted, and original should also be brought for verification. </li>
              <li>Passport size photographs of both the student and the authorized person should be affixed on the
                authority
                letter (if process carried out by the authorized person on behalf of the applicant).</li>
              <li>If the candidate is currently studying abroad, photo copy of VISA should also be submitted.</li>
              <li>A person can be authorized to get attestation for only one student.</li>
            </ul>


          </ul>

          <div>
            <p [ngClass]="['parent', ft_md]">Checklist of Documents for Indian Students:</p>

            <table class="table ml-4 w-50 table-bordered">
              <thead [ngClass]="[bg_color, 'text-white']">
                <tr>
                  <th>Documents</th>
                </tr>
              </thead>
              <tbody class="body-white txt-black">
                <tr>
                  <td>Board /University Attestation on all certificates </td>
                </tr>
                <tr>
                  <td>Attestation on all certificates by Notary</td>
                </tr>
                <tr>
                  <td>Home Department Attestation on all certificates</td>
                </tr>
                <tr>
                  <td>Students Passport size color photograph</td>
                </tr>
                <tr>
                  <td>Student’s Passport</td>
                </tr>
                <tr>
                  <td>Student’s VISA / Declaration letter mentioning VISA to be obtained in future for Higher Education
                  </td>
                </tr>
                <tr>
                  <td>Offer letter by Foreign University</td>
                </tr>
                <tr>
                  <td>Authority letter on Rs.100 stamp paper (with photograph of candidate and authority)</td>
                </tr>
                <tr>
                  <td>Photo ID proof of authorized person</td>
                </tr>
                <tr>
                  <td>Passport size color photograph of Authorized person</td>
                </tr>
              </tbody>
            </table>
            <p>Required only if process done by authorized person on behalf of candidate </p>
          </div>

          <div>
            <p [ngClass]="['parent m-0', ft_md]">C. Guideline for Foreign National</p>
            <ul>
              <li>Only certificates related to <b> ACADEMICS </b> are attested in this department.</li>
              <li>The following certificates are attested:</li>
              <li>
                <ul>
                  <li> Mark sheet </li>
                  <li>Passing certificate</li>
                  <li>Degree certificate</li>
                  <li>Transcript</li>
                  <li>Provisional degree certificate</li>
                </ul>
              </li>
              <li>Certificates not related to academics such as Birth certificate, certificate of Age, Nationality &
                Domicile,
                Leaving certificate, Bonafide certificate, marriage certificate etc. are<b> NOT</b> attested here. </li>
            </ul>

            <p>Academic certificates obtained from private institutions which are not affiliated by any University or
              are
              not
              governed by any Act / Rules / Laws of Maharashtra State Government/ Central Government will <b> NOT</b> be
              attested.</p>

            <p [ngClass]="['parent', ft_md]">Steps before Submission of application for attestation</p>
            <div class="ml-4">
              <p [ngClass]="['parent m-0', ft_md]">1. Attestation by respective Board / University:</p>
              <p>(Limited to Universities only in the State of Maharashtra)
                University certificates attestation by Controller of Examination, Deputy Registrar/ Assistant Registrar
                of
                Exam
                Section of concerned university.</p>

              <p [ngClass]="['parent m-0', ft_md]">2. Attestation by a Notary: </p>
              <p>The Certificates are to be attested by a Notary on Rs. 25 stamp paper.</p>


              <p [ngClass]="['parent m-0', ft_md]">3. Attestation by Home Department (Government of Maharashtra):</p>
              <p>The certificates are to be attested in Home Department (9th floor, New Administrative Building, Opp.
                Mantralaya)</p>

              <p [ngClass]="['parent m-0', ft_md]">Mandatory Support Documents:</p>
              <ul>
                <li>Student’s original <b> passport </b></li>
                <li>Photocopy of student’s passport.</li>
                <li>If the validity of the old Passport has expired (delayed application for attestation), photo copy of
                  the
                  old
                  Passport and Stay VISA which was valid for the duration of the academic course should be submitted.
                </li>
                <li>Original document of Stay VISA / Stay VISA extension</li>
                <li>Photocopy of Stay VISA / Stay VISA extension</li>
                <li>
                  <ul style="color: red;">
                    <li>If the candidate is unable to come personally, the person visiting on behalf of the student
                      should
                      bring
                      authority letter on Rs.100 stamp paper.</li>
                    <li>The authority letter should be sent back to the student for signature. The receipts of these
                      postal/
                      courier transactions should be preserved and submitted along with other documents.</li>
                    <li>In such case photo identity proof of the authorized person (e.g. Passport, Aadhar card, PAN
                      card)
                      should
                      also be submitted and original should also be brought for verification. </li>
                    <li>Passport size photographs of both the student and the authorized person should be affixed on the
                      authority letter (if process carried out by the authorized person on behalf of the applicant).
                    </li>
                    <li>A person can be authorized to get attestation for only one student.</li>
                  </ul>
                </li>
              </ul>

            </div>
            <p [ngClass]="['parent', ft_md]">Check list for necessary documents for Foreign Students:</p>
            <table class="table ml-4 w-50 table-bordered">
              <thead [ngClass]="[bg_color, 'text-white']">
                <tr>
                  <th>Documents</th>
                </tr>
              </thead>
              <tbody class="body-white txt-black">
                <tr>
                  <td>University Attestation on all certificates</td>
                </tr>
                <tr>
                  <td> Attestation on all certificates by Notary</td>
                </tr>
                <tr>
                  <td> Home Department Attestation on all certificates</td>
                </tr>
                <tr>
                  <td>Students Passport size color photograph </td>
                </tr>
                <tr>
                  <td> Student’s Passport</td>
                </tr>
                <tr>
                  <td>Student’s old passport (delayed application for attestation, if applicant comes for certificate
                    attestation at a later stage after going back to his/her home country) </td>
                </tr>
                <tr>
                  <td> Student’s Stay VISA/Stay VISA extension</td>
                </tr>
                <tr>
                  <td> Student’s Old Stay VISA(delayed application for attestation, if applicant comes for certificate
                    attestation at a later stage after going back to his/her home country)</td>
                </tr>
                <tr>
                  <td> Authority letter on Rs. 100 Stamp Paper (with photograph of candidate and authority)</td>
                </tr>
                <tr>
                  <td> Photo ID proof of authorized person</td>
                </tr>
                <tr>
                  <td>Passport size color photograph of Authorized person </td>
                </tr>
                <tr>
                  <td> Mail/ courier transaction proof</td>
                </tr>
              </tbody>
            </table>
            <p>Required only if process done by authorized person on behalf of candidate </p>
          </div>
        </div>
        <div>
          <p [ngClass]="['parent', ft_md]">Online Attestation Process:</p>
          <div class="ml-4">
            <p [ngClass]="['parent m-0', ft_md]">Step 1 :</p>
            <p>Applicant fills complete application form online (Aadhar linking to auto fetch basic information, for
              Indian
              Students)</p>
            <p [ngClass]="['parent m-0', ft_md]">Step 2 :</p>
            <p>Applicant uploads scanned copy of original documents as per requirement and submits</p>
            <p [ngClass]="['parent m-0', ft_md]">Step 3 :</p>
            <p>Concerned authority at department level verifies uploaded documents and approves / disapproves
              application
            </p>
            <p [ngClass]="['parent m-0', ft_md]">Step 4 :</p>
            <p> (If Disapproved) Applicant to receive details online and has to re-submit accordingly back to<b> Step 3
              </b>
            </p>
            <p [ngClass]="['parent m-0', ft_md]">Step 5 :</p>
            <p> (If Approved) Online date selection calendar to be activated, Applicant to select date from the
              available
              dates for original document verification and attestation. On selection the system generates a receipt with
              details to be carried to department</p>
            <p [ngClass]="['parent m-0', ft_md]">Step 6 :</p>
            <p>The applicant visits the department on the selected date and provides the original documents for
              verification
              and attestation</p>
            <p [ngClass]="['parent m-0', ft_md]">Step 7 :</p>
            <p>Deputy Secretary H&TE Department verifies the original documents against the online documents and
              provides
              the attested original copies to the applicant</p>
            <p [ngClass]="['parent m-0', ft_md]">Step 8 :</p>
            <p>Deputy Secretary checks the documents attested on the system and takes the receiving on individual Xerox
              copies of documents attested</p>
            <p [ngClass]="['parent m-0', ft_md]">Step 9 :</p>
            <p> Receiving copy is signed by applicant and handed over to department as a proof</p>
          </div>


          <div class="text-center">
            <img class="img-fluid" src="assets/img/arc1.png" />
            <br> <br>
            <div class="text-center">
              <img class="img-fluid" src="assets/img/arc2.png" />
              <br> <br>
            </div>
          </div>

          <p [ngClass]="['parent m-0', ft_md]">Date and Time Slot Booking:</p>
          <p>While Date booking Students has to choose two option from Monday, Tuesday, Thursday and Friday of the week
            of
            his choice.</p>
          <p>Time slot will be provided by online application approving official after online document verification.</p>
          <p [ngClass]="['parent m-0', ft_md]">Remarks for rejection:</p>
          <p>While rejecting and application all the documents uploaded by applicant will be checked and in remarks
            approval
            and rejection of each document will be provided. For every rejection Instruction for correction will be
            provided
            in remarks section.</p>

        </div>

      </div>

    </div>

  </div>
</div>

<app-user-footer></app-user-footer>






























<!-- <br>
<div [ngClass]="['container-fluid', diff]">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-1">
          <img style="height: 40px; width: auto; cursor: pointer;" src="assets/img/faq.svg" />
        </div>
        <div class="col-md-5">
          <p [ngClass]="[ft_xl]"> FAQ's </p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="ml-5">







        <div>
          <div class="row text-white" id="overAll">



              <div class="col-md-6">
                  <div id="one">
                    <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="buttton1" data-target="#pattern1" role="button"
                      aria-expanded="true" aria-controls="pattern1"> 1. INTRODUCTION </p>
    
    
                    <div class="collapse ml-3" id="pattern1" aria-labelledby="buttton1" data-parent="#overAll">
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn1" data-target="#question1" role="button"
                        aria-expanded="true" aria-controls="question1"> What is Haj Committee of India? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']"  id="question1" aria-labelledby="qstn1" data-parent="#one">
                          Haj Committee is a body constituted under the Act of Parliament No.35 of 2002.
                      </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn2" data-target="#question2" role="button"
                        aria-expanded="true" aria-controls="question2"> What is C.G.I., Jeddah (Consulate General of India – Jeddah) </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question2" aria-labelledby="qstn2" data-parent="#one">
                          The Consulate General of India is a foreign office stationed in Jeddah City of the Royal Kingdom of Saudi Arabia, functioning under the Ministry of External Affairs, Government of India.
                      </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn3" data-target="#question3" role="button"
                        aria-expanded="true" aria-controls="question3">What is State Haj Committee? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question3" aria-labelledby="qstn3" data-parent="#one">
                          State Haj Committees are constituted by the respective State Governments.
                      </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn4" data-target="#question4" role="button"
                        aria-expanded="true" aria-controls="question4"> What is the relationship between State Haj Committees with Haj Committee of India? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question4" aria-labelledby="qstn4" data-parent="#one">
                          All State Haj Committees have administrative relationship report to the Central Haj Committee, Mumbai.
                      </p>
    
    
                    </div>
                  </div>
    
    
    
                  <div id="two">
                    <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="buttton2" data-target="#pattern2" role="button"
                      aria-expanded="true" aria-controls="pattern2"> 2. FUNCTIONS </p>
    
    
                    <div class="collapse ml-3" id="pattern2" aria-labelledby="buttton2" data-parent="#overAll">
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn21" data-target="#question21" role="button"
                        aria-expanded="true" aria-controls="question21"> What is the role of Haj Committee of India in India? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question21" aria-labelledby="qstn21" data-parent="#two">
                          Haj Committee of India is empowered by the Government of India to make arrangements for Indian Pilgrims only in India, under the present Norms. These arrangements include announcement for Haj, floating Haj Applications with the help of State Haj Committees, arrangement of bank for procurement of foreign exchange, arrangement of accommodation for the Pilgrims in the Kingdom of Saudi Arabia with the help of Consulate General of India, Jeddah, finalization of air journey i.e. arrangement of flight tickets (to & fro journey) for the Pilgrims traveling from various Embarkation Points(with the help of M/o Civil Aviation). Formation & implementation of various Policies for the benefit of Haj Pilgrims, Orientation / Training of Haj Pilgrims with the help of State Haj Committees.
                      </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn22" data-target="#question22" role="button"
                        aria-expanded="true" aria-controls="question22"> What is the role of Haj Committee of India in the Kingdom of Saudi Arabia? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question22" aria-labelledby="qstn22" data-parent="#two">
                          The role of Haj Committee of India in the Kingdom of Saudi Arabia is to monitor the facilities made available to the Pilgrims; in case of shortcomings bring it to the notice of the concerned agencies and to get the same redressed. Thus, the role of Haj Committee of India is limited to advisory level in the Kingdom of Saudi Arabia.
                      </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn23" data-target="#question23" role="button"
                        aria-expanded="true" aria-controls="question23"> What is the role of State/Union Territory Haj Committees? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question23" aria-labelledby="qstn23" data-parent="#two">
                          The role of State/UT Haj Committee begins from the initial stage of making Haj Application Forms available to intending Pilgrims of their respective States, receiving Haj Applications, scrutinizingthese Haj Application Forms, preparation of Data, forwarding of Haj Applications, remittances & Data of Pilgrims in the prescribed format to Haj Committee of India, Orientation & Training of Pilgrims and implementing various directives issued by the Haj Committee of India for the Haj Pilgrims.
                      </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn24" data-target="#question24" role="button"
                        aria-expanded="true" aria-controls="question24">What is the role C.G.I., Jeddah (Consulate General of India – Jeddah) with regard to Haj Pilagimage? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question24" aria-labelledby="qstn24" data-parent="#two">
                          The responsibility to look after all Indian Haj Pilgrims upon reaching Jeddah / MadinahMunawwarah Airport is that of the Consulate General of India – Jeddah. Besides this, it also maintains liaison with the Haj Committee of India, Ministry of External Affairs, Ministry of Civil Aviation, Government of India, State Haj Committees, especially those handling Embarkation Points, MaktabulWukula Al-Muwaheed, Jeddah and other allied agencies involved in the Haj pilgrimage.
                      </p>
    
    
                    </div>
                  </div>
    
    
    
    
                  <div id="three">
                    <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="buttton3" data-target="#pattern3" role="button"
                      aria-expanded="true" aria-controls="pattern3"> 3. GENERAL INFORMATION-</p>
    
    
                    <div class="collapse ml-3" id="pattern3" aria-labelledby="buttton3" data-parent="#overAll">
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn41" data-target="#question41" role="button"
                        aria-expanded="true" aria-controls="question41"> What is Haj Announcement? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question41" aria-labelledby="qstn41" data-parent="#three">
                          Haj Application Form is a set of detailed information required to be filled in by the intending Pilgrim for primary registration for Haj Pilgrimage for the particular year in the light of Haj Guidelines formulated for the purpose.

                        </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn42" data-target="#question42" role="button"
                        aria-expanded="true" aria-controls="question42">What is Haj Application Form? How do you fill the Haj Application? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question42" aria-labelledby="qstn42" data-parent="#three">
                          Haj Guidelines is available in the shape of a small booklet, which contains a set of detailed information about various aspects of Haj, dos’&donts’ for the intending Pilgrims besides information about how to fill the Haj Application for the Haj Pilgrimage. It is Imperative on the part of each applicant to thoroughly go through Haj Guidelines before filling-up the Haj Application Form.

                        </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn43" data-target="#question43" role="button"
                        aria-expanded="true" aria-controls="question43"> What is Haj Guidelines? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question43" aria-labelledby="qstn43" data-parent="#three">
                          Cover No. consists of the following parts :- State Code (for example) : MH for Maharashtra ‘F’ for general / ‘R’ for reserved category Serial Order of Registration (for example) : 1111 No. of applicants in the Cover (for example) : 4 No. of Infants (for example) : 1 The sum of the above would appear as COVER NO. MHF-1111-4-1/ MHR-1111-4-1.

                        </p>
    
                      <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn44" data-target="#question44" role="button"
                        aria-expanded="true" aria-controls="question44"> What is Registration / Cover No.? </p>
                      <p [ngClass]="[diff, 'collapse ml-3']" id="question44" aria-labelledby="qstn44" data-parent="#three">
                          Not more than FOUR Adult Pilgrims (plus) two Infants are allowed to apply in one cover.


                      </p>
    
    
                    </div>
                  </div>
    
                </div>



            <div class="col-md-6">

              <div id="six">
                <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="buttton6" data-target="#pattern6" role="button"
                  aria-expanded="true" aria-controls="pattern6"> 4. ELIGIBILITY CRITERIA </p>


                <div class="collapse ml-3" id="pattern6" aria-labelledby="buttton6" data-parent="#overAll">

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn111" data-target="#question111" role="button"
                    aria-expanded="true" aria-controls="question111"> Who can apply for Haj Pilgrimage? </p>
                  <p [ngClass]="[diff, 'collapse ml-3']" id="question111" aria-labelledby="qstn111" data-parent="#six">
                      Any Indian Muslim, who is sound in health and can bear the expenses of the Haj Pilgrimage can apply for Haj. In the light of major change introduced by the Government for Haj 2018, any Muslim who have not performed Haj in the earlier years through Haj Committee of India is only eligible to apply for Haj 1439 (H) – 2018 under the auspices of Haj Committee of India.

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn112" data-target="#question112" role="button"
                    aria-expanded="true" aria-controls="question112"> Who cannot apply for Haj? </p>
                  <p [ngClass]="[diff, 'collapse ml-3']" id="question112" aria-labelledby="qstn112" data-parent="#six">
                      The following are ineligible to apply for Haj: All Non-Muslims, Any Muslim Citizen not in possession of Valid Passport i.e.issued on or before 7.12.2017 and valid atleast upto 14.02.2019. Person who performed Haj in the earlier years through Haj Committee of India,Persons suffering from Polio, Tuberculosis, Congestive Cardiac & Respiratory Ailments, Acute Coronary Insufficiency, Coronary Thrombosis, Mental Disorder, Infectious Leprosy, AIDS and / or any other communicable diseases or handicaps,Lady not accompanied by a Mehram,Lady in the advanced stage of pregnancy,Person against whom any Court Order prohibiting him / her from undertaking foreign travel.

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn113" data-target="#question113" role="button"
                    aria-expanded="true" aria-controls="question113"> Who is Repeater? </p>
                  <p [ngClass]="[diff, 'collapse ml-3']" id="question113" aria-labelledby="qstn113" data-parent="#six">
                      Repeater is a person, who has performed the Haj through the Haj Committee of India in the earlier years.

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn114" data-target="#question114" role="button"
                    aria-expanded="true" aria-controls="question114"> Can a Repeater apply for Haj? </p>
                  <p [ngClass]="[diff, 'collapse ml-3']" id="question114" aria-labelledby="qstn114" data-parent="#six">
                      No. There is a total BAN on repeaters applying for Haj.


                  </p>


                </div>
              </div>



              <div id="seven">
                <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="buttton7" data-target="#pattern7" role="button"
                  aria-expanded="true" aria-controls="pattern7"> 5. HOW TO APPLY </p>


                <div class="collapse ml-3" id="pattern7" aria-labelledby="buttton7" data-parent="#overAll">

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn131" data-target="#question131" role="button"
                    aria-expanded="true" aria-controls="question131"> How can we obtain the Haj Application Form? </p>
                  <p [ngClass]="[diff, 'collapse ml-3']" id="question131" aria-labelledby="qstn131" data-parent="#seven">
                      Haj Application Forms can be obtained either from the office of the State/UT Haj Committee or can be downloaded from the website of Haj Committee of India[www.hajcommittee.com].

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn132" data-target="#question132" role="button"
                    aria-expanded="true" aria-controls="question132"> What needs to be done after obtaining the Haj Application Forms? </p>
                  <p [ngClass]="[diff, 'collapse ml-3']" id="question132" aria-labelledby="qstn132" data-parent="#seven">
                      Thoroughly read the Guidelines and Instructions part printed on the Haj Application Form, fill the Haj Application accordingly, visit the nearest branch of State Bank of India/Union Bank of India and deposit (non-refundable) payment @ Rs.300/- per applicant towards Registration Fee, submit the Haj Application in the office of the respective State Haj Committee and obtain Cover No. (Registration No.).

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn133" data-target="#question133" role="button"
                    aria-expanded="true" aria-controls="question133"> Is it true that each Pilgrim should fill in Haj Application Form? </p>
                  <p [ngClass]="[diff, 'collapse ml-3']" id="question133" aria-labelledby="qstn133" data-parent="#seven">
                      Yes. It is absolutely True.

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn134" data-target="#question134" role="button"
                    aria-expanded="true" aria-controls="question134"> How can we submit our Haj Application without any difficulty? </p>
                  <p [ngClass]="[diff, 'collapse ml-3']" id="question134" aria-labelledby="qstn134" data-parent="#seven">
                      The Cover Head shall make a cover of all the applications duly completed in all respects in terms of Guidelines for Haj and submit it to the State / Union Territory Haj Committees.


                  </p>


                </div>
              </div>




              <div id="eight">
                <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="buttton8" data-target="#pattern8" role="button"
                  aria-expanded="true" aria-controls="pattern8"> 7. PILGRIM STATUS</p>


                <div class="collapse ml-3" id="pattern8" aria-labelledby="buttton8" data-parent="#overAll">
                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn151" data-target="#question151" role="button"
                    aria-expanded="true" aria-controls="question151"> What is the meaning of the term “Provisionally selected”? </p>
                  <p [ngClass]="[ft_md, diff, 'collapse ml-3']" id="question151" aria-labelledby="qstn151" data-parent="#eight">
                      Provisionally selected means SELECTED IN QURRAH (Draw of Lots) for time being subject to other conditions.

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn152" data-target="#question152" role="button"
                    aria-expanded="true" aria-controls="question152"> What is the meaning of the term “Rejected”?</p>
                  <p [ngClass]="[ft_md, diff, 'collapse ml-3']" id="question152" aria-labelledby="qstn152" data-parent="#eight">
                      Rejected means NOT SELECTED IN QURRAH. This term is also used for the non- selection of REPEATER Haj Applicants.

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn153" data-target="#question153" role="button"
                    aria-expanded="true" aria-controls="question153"> What is the meaning of the term “Waiting List”? </p>
                  <p [ngClass]="[ft_md, diff, 'collapse ml-3']" id="question153" aria-labelledby="qstn153" data-parent="#eight">
                      A Separate draw of lots of non selected covers will be held to allocate waiting list number to all such covers.

                    </p>

                  <p [ngClass]="[ft_md, 'btnSet']" data-toggle="collapse" id="qstn154" data-target="#question154" role="button"
                    aria-expanded="true" aria-controls="question154"> How and when do the Waiting List Applications get the Provisionally Selected status? </p>
                  <p [ngClass]="[ft_md, diff, 'collapse ml-3']" id="question154" aria-labelledby="qstn154" data-parent="#eight">
                      Haj Committee of India / State Haj Committee receive few requests for CANCELLATION from the Provisionally Selected Pilgrims. In addition to this, the Government may increase the Haj Quota by allotting some additional Haj Seats. These vacant seats are filled up by provisionally selecting the Waiting List Applications. Waiting List applications are provisionally selected strictly according to their serial order in the Waiting List.


                  </p>


                </div>
              </div>

            </div>




           



          </div>
        </div>



















      </div>
    </div>
  </div>

</div> -->