<app-font-set (childEvent)="message=$event" (bg)="bg=$event" (language)="language=$event"></app-font-set>

<app-do-header [userName]="userName" pgName="Schedule"></app-do-header>

<div [ngClass]="[diff]" class="container-fluid">
  <p [ngClass]="['choice py-2', ft_xl]"> {{ lan.choice_of_verification_slot }} </p>
  <hr class="m-0">

  <div class="container">


    <div class="row">
      <div class="col-md-5">

        <p [ngClass]="['applicant mt-3', ft_md]">{{ lan.the_applicant_can_select }}
        </p>
        <div [ngClass]="['d-flex justify-content-center align-items-center', ft_sm]">
          <span class="box_enable"></span>
          <p class="ml-2 mr-3 mb-0"> {{ lan.date_slot_available }} </p>
          <span class="box_disable"></span>
          <p class="ml-2 mb-0"> {{ lan.date_slot_unavailable }} </p>
        </div>
        <br>
        <div class="text-center">
          <ngb-datepicker #dp [(ngModel)]="model" class="shadow body-white" [minDate]="today"
            [maxDate]="{year: 2048, month: 12, day: 31}" (click)="selectedDate()" [markDisabled]="isDisabled"
            (navigate)="date = $event.next">
          </ngb-datepicker>
        </div>
      </div>

      <div class="col-md-7 d-flex align-items-center justify-content-center">

        <div>
          <div>
            <div [ngClass]="['d-flex justify-content-center align-items-center', ft_sm]">
              <span class="box_enable"></span>
              <p class="ml-2 mr-3 mb-0"> {{ lan.time_slot_available }} </p>
              <span class="box_disable"></span>
              <p class="mx-2 mb-0"> Booked by student </p>
              <span class="ds_booked"></span>
              <p class="ml-2 mb-0"> Booked by desk officer </p>
            </div>
            <br>
            <div [ngClass]="[ft_sm, 'txt-black']">

              <div class="d-flex justify-content-center">

                <p [className]="setClass[1]" (click)="timeSelected(1)">2.00pm – 2.15pm</p>

                <p [className]="setClass[2]" (click)="timeSelected(2)">2.15pm – 2.30pm</p>

                <p [className]="setClass[3]" (click)="timeSelected(3)">2.30pm – 2.45pm</p>

                <p [className]="setClass[4]" (click)="timeSelected(4)">2.45pm – 3.00pm</p>

              </div>

              <div class="d-flex justify-content-center">

                <p [className]="setClass[5]" (click)="timeSelected(5)">3.00pm – 3.15pm</p>

                <p [className]="setClass[6]" (click)="timeSelected(6)">3.15pm – 3.30pm</p>

                <p [className]="setClass[7]" (click)="timeSelected(7)">3.30pm – 3.45pm</p>

                <p [className]="setClass[8]" (click)="timeSelected(8)">3.45pm – 4.00pm</p>

              </div>

              <div class="d-flex justify-content-center">

                <p [className]="setClass[9]" (click)="timeSelected(9)">4.00pm – 4.15pm</p>

                <p [className]="setClass[10]" (click)="timeSelected(10)">4.15pm – 4.30pm</p>

                <p [className]="setClass[11]" (click)="timeSelected(11)">4.30pm – 4.45pm</p>

                <p [className]="setClass[12]" (click)="timeSelected(12)">4.45pm – 5.00pm</p>

              </div>

            </div>

            <div class="text-center mt-3">
              <div class="d-flex justify-content-center align-items-center">
                <p [ngClass]="[ft_md, 'mb-0 mr-3']">Reason :</p>
                <input type="text"  placeholder="Reason"
                  [ngClass]="['form-control frm-inside-txt w-50', ft_md]" [(ngModel)]="primary_reason">
              </div>
              <div class="mt-3">
                <button type="button" [ngClass]="['mr-3 btn', continue, ft_md]" (click)="home()"> {{ lan.cancel}}
                </button>
                <button type="button" [ngClass]="['mr-3 btn', continue, ft_md]" (click)="onSubmit('unblock')">
                  {{ lan.unblock_date }} </button>

                <button type="button" [ngClass]="['btn', continue, ft_md]" (click)="onSubmit('block')">
                  {{ lan.block_date }} </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-do-footer></app-do-footer>