.logo{
	width: auto;
  height:100%;
  cursor: pointer;
}

.higher{
	font-family: Roboto;
  // font-size: 18px;
  font-weight: 300;
	// color: #004b8f;
	margin: 0px;
}

.higher_bold{
	font-weight: bold;
}


.navHome{
	// text-align: center;
	margin-right: 10px;
	cursor: pointer;
font-family: Roboto;
// font-size: 13px;
// color: var(--black);
margin-bottom: 0px;
}