.top_head{
    font-family: Roboto;
    // font-size: 20px;
    color: #3068a8;
    font-weight: 600;
}
// sm
.child{
    font-family: Roboto;
    // font-size: 16px;
    // color: #494949;
}

// md
.parent{
    font-family: Roboto;
    // font-size: 18px;
    font-weight: 600;
    // color: #494949;
}

.setRed{
    color: red;
}

.setImgbor{
    border: 1px solid red;
    width: 150px;
    height: 150px;
}