.name{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.setBorder{
    border-bottom: solid 5px #4a90e2;
}

.iconSet{
    height: 25px; 
    width: 25px;
}