<br>

<div [ngClass]="['container-fluid', diff]">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-1">
            <img class="mr-3" style="height: 40px; width: auto; cursor: pointer;" src="assets/img/contact.svg" />
        </div>
        <div class="col-md-5">
            <p [ngClass]="[ft_xl]"> Contact us </p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-1">
              <!-- <img class="mr-3" style="height: 50px; width: auto; cursor: pointer;" src="assets/img/contact.svg" /> -->
          </div>
          <div class="col-md-11">
              <div class="row">
                <div class="col-md-5">
                  <p [ngClass]="[ft_md]"> Registered office:</p>
                  <!-- <p [ngClass]="[ft_sm]"> MAHARASHTRA INFORMATION TECHNOLOGY CORPORATION LIMITED</p> -->
                    <div [ngClass]="[ft_sm]">
                      <p class="m-0"> Higher & Technical Education Department,</p>
                      <p class="m-0">room no. 431, 4th Floor,</p>
                      <p class="m-0">Annexe Building, Mantralaya, </p>
                      <p > Mumbai City, Maharashtra, India, 400032</p>
                      <!-- <p class="m-0">TEL : +91 22 22026534 Fax : +91 22 2815087</p>
                      <p class="m-0"> Email : info.mahait[at]mahait[dot]org</p>
                      <p >Website : www.mahait.org </p> -->
                       </div>
                       <p [ngClass]="[ft_md]"> Desk Officer:</p>
                       <div [ngClass]="[ft_sm]">
                        <p class="m-0"> Email : sushilkumar.shinde@nic.in</p>
                        <p class="m-0"> TEL : 022-22855766</p>
                       </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <p [ngClass]="[ft_md]">  Home Office Address:</p>
                    <!-- <p [ngClass]="[ft_sm]"> MAHARASHTRA INFORMATION TECHNOLOGY CORPORATION LIMITED</p> -->
                      <div [ngClass]="[ft_sm]">
                        <p class="m-0"> Home Department,</p>
                        <p class="m-0"> 9th floor, New Administrative Building, </p>
                        <p class="m-0"> Opp. Mantralaya, Mumbai City, India, 400032</p>
                        <!-- <p class="m-0">TEL : +91 22 22174600 Fax : +91 22 2815087</p>
                        <p class="m-0">Website : www.mahait.org</p> -->
                       </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>


</div>

