.setBlack{
    background-color: black;
    padding: 3px 6px;
    color: white;
    cursor: pointer;
    border: solid 1px white;
}

.setBlue{
    background-color: #004b8f;
    padding: 3px 6px;
    color: white;
    cursor: pointer;
    border: solid 1px white;
}

.drop{
    height:28px; font-size: 14px; padding: 0px;
    width:150px;
}