<!-- <app-font-set></app-font-set>
<app-user-head pgName="Disclaimer"></app-user-head>
<br>

<div [ngClass]="['container', diff]">
  <p [ngClass]="['top_head', ft_xl]"> Steps before online application for attestation for Indian National:</p>

  <div [ngClass]="['child', ft_sm]">
    <div class="ml-4">
    <p [ngClass]="['parent m-0', ft_md]">1. Attestation by respective Board / University:</p>
    <div class="ml-4">
      <p class="m-0">* Limited to Boards/ Universities only in the State of Maharashtra</p>
      <p class="m-0">Board Certificates </p>
      <p class="m-0">- SSC Board Certificate </p>
      <p class="m-0">- HSC Board Certificate </p>
      <p class="m-0">Attestation should be obtained from Board officials only. Attestations by school/college principals, Head of
        Departments are not acceptable. </p>
      <p>University certificates attestation by Controller of Examination, Deputy Registrar/ Assistant Registrar of Exam
        Section of concerned university. </p>
    </div>
    <p [ngClass]="['parent m-0', ft_md]">2.Attestation by a Notary:</p>
    <p class="ml-4">The Certificates are to be attested by a Notary on Rs. 25 stamp paper. </p>

    <p [ngClass]="['parent m-0', ft_md]">3. Attestation by Home Department (Government of Maharashtra):</p>
    <p class="ml-4">The certificates are to be attested in Home Department (9th floor, New Administrative Building, Opp.
      Mantralaya) </p>


      <p [ngClass]="['parent m-0', ft_md]">Mandatory Support Documents:</p>
      <ul>
        <li>Students original passport</li>
        <li>Photocopy of student’s passport</li>
        <li> <b>Offer letter </b> from the Foreign University where admission is acquired.</li>
        <li>If the candidate is unable to come personally, the person visiting on behalf of the student should bring authority letter on Rs.100 stamp paper *.</li>
        
          
            <ul style="color: red;">
              <li>In such case photo identity proof of the authorized person (e.g. Passport, Aadhar card, PAN card) should also be submitted, and original should also be brought for verification. </li>
              <li>Passport size photographs of both the student and the authorized person should be affixed on the authority letter (if process carried out by the authorized person on behalf of the applicant).</li>
              <li>If the candidate is currently studying abroad, photo copy of VISA should also be submitted.</li>
              <li>A person can be authorized to get attestation for only one student.</li>
            </ul>
          
        
      </ul>
    </div>


      <div>
        <p  [ngClass]="['top_head', ft_xl]">Steps before Submission of application for attestation for Foreign National:</p>
        <div class="ml-4">
        <p [ngClass]="['parent m-0', ft_md]">1. Attestation by respective Board / University:</p>
        <p>(Limited to Universities only in the State of Maharashtra)
          University certificates attestation by Controller of Examination, Deputy Registrar/ Assistant Registrar of Exam Section of concerned university.</p>


          <p [ngClass]="['parent m-0', ft_md]">2.Attestation by a Notary:</p>
          <p class="ml-4">The Certificates are to be attested by a Notary on Rs. 25 stamp paper. </p>
      
          <p [ngClass]="['parent m-0', ft_md]">3. Attestation by Home Department (Government of Maharashtra): </p>
          <p class="ml-4">The certificates are to be attested in Home Department (9th floor, New Administrative Building, Opp. Mantralaya) </p>

          <p [ngClass]="['parent m-0', ft_md]">Mandatory Support Documents:</p>
          <ul>
            <li>Students original <b> passport </b></li>
            <li>Photocopy of student’s passport</li>
            <li> f the validity of the old Passport has expired (delayed application for attestation), photo copy of the old Passport and Stay VISA which was valid  for the duration of the academic course should be submitted.</li>
            <li>Original document of Stay  VISA / Stay VISA extension</li>
            <li>Photocopy of Stay  VISA / Stay VISA extension</li>
              
                <ul style="color: red;">
                 <li>If the candidate is unable to come personally, the person visiting on behalf of the student should bring authority letter on Rs.100 stamp paper.</li>
                 <li>The authority letter should be sent back to the student for signature. The receipts of these postal/ courier transactions should be preserved and submitted along with other documents.</li>
                 <li>In such case photo identity proof of the authorized person (e.g. Passport, Aadhar card, PAN card) should also be submitted and original should also be brought for verification. </li>
                  <li>Passport size photographs of both the student and the authorized person should be affixed on the authority letter (if process carried out by the authorized person on behalf of the applicant).</li>
                  <li>A person can be authorized to get attestation for only one student.</li>
                </ul>
              
            
          </ul>
        </div>
      </div>


  </div>
</div>

<div class="container-fluid p-0">
    <div class="text-center">
        <hr>
        <button type="button" [ngClass]="['my-2 mr-3 btn', continue, ft_md]"
        (click)="home()"> Disagree and  Cancel </button>
        <button *ngIf="pageNumber != 7" type="button" [ngClass]="['my-2 btn', continue, ft_md]"
        (click)="selectShow(pageNumber)">Agree and Continue</button>
        <hr>
      </div>
</div>



<app-user-footer></app-user-footer> -->