<div [ngClass]="['container-fluid py-2 setfooter', ft_sm, bg_color]" >
    <div class="d-flex justify-content-center mb-1">
      <p class="navHome txt-white"> {{lan.home }} </p>
      <span class="navHome  txt-white">|</span>
      <p class="navHome  txt-white"> {{lan.sitemap}} </p>
      <span class="navHome  txt-white">|</span>
      <p class="navHome txt-white "> {{lan.contact_us}} </p>
      <span class="navHome  txt-white">|</span>
      <p class="navHome txt-white "> {{lan.faq}} </p>
      <span class="navHome  txt-white">|</span>
      <p class="navHome txt-white "> {{lan.help_center}} </p>
    </div>
    <p class="byContinue txt-white">{{lan.policy}}   </p>
</div>




