
.table-striped td {border: none !important; border-right: solid 1px #ccc !important;}

.table-striped th {border: none !important; border-right: solid 1px #ccc !important;}

.setBar{
    height: 5px;
    border-radius: 10px;
}

.image-upload>input {
    display: none;
  }

  .setbor{
    border: 1px solid gray; 
    border-radius: 5px;
  }