<div [ngClass]="['container-fluid py-2 setfooter global-bor', ft_sm, bg_color]" >
  <div class="d-flex justify-content-center mb-1">
    <p (click)="routing('../desk-officer-dashboard')" class="navHome txt-white"> {{lan.home }} </p>
    <!-- <span class="navHome  txt-white">|</span>
    <p (click)="routing('../do-site-map')" class="navHome  txt-white"> {{lan.sitemap}} </p> -->
    <span class="navHome  txt-white">|</span>
    <p  (click)="routing('../do-contact-us')" class="navHome txt-white "> {{lan.contact_us}} </p>
    <span class="navHome  txt-white">|</span>
    <p (click)="routing('../do-faq')" class="navHome txt-white "> {{lan.faq}} </p>
    <!-- <span class="navHome  txt-white">|</span>
    <p (click)="routing('../do-help-center')" class="navHome txt-white "> {{lan.help_center}} </p> -->
  </div>
  <p class="byContinue txt-white"> 
      By continuing past this page, you agree to our 
      <span class="ancher" (click)="routing('../do-terms-condition')"> Terms of Service </span> ,
       and <span class="ancher" (click)="routing('../do-policies')"> Privacy Policy </span> . © 2019
  </p>
</div>




